short-separator(prop = top)
  margin-{prop}: line-height
  display: inline-block
  position: relative
  if prop is bottom
    padding: 0 20px line-height
  else
    padding: line-height 20px 0
  &:before
    content: ""
    background: radial-gradient(color-border, #fff)
    height: 1px
    width: 100%
    position: absolute
    {prop}: 0
    left: 0