article
  border-bottom: 1px solid color-border
  padding: 40px 0

.post-header
  text-align: center
  font-family: font-title
  padding-bottom: line-height

.post-date-wrap
  line-height: 1em
  margin-bottom: 1em
  display: block

.post-date
  color: color-grey
  text-decoration: none
  transition: color 0.2s
  &:hover
    color: color-link

.post-title
  color: color-default
  text-decoration: none
  font-size: 2em
  font-weight: bold
  transition: color 0.2s
  a&:hover
    color: color-link

.post-entry
  line-height: line-height
  color: color-default
  p, ol, ul, dl, table, blockquote, iframe, .highlight
    margin: line-height 0
  h1
    font-size: 2em
  h2
    font-size: 1.5em
  h3
    font-size: 1.3em
  h1, h2, h3, h4, h5, h6
    line-height: 1em
    margin: 1em 0
    font-weight: bold
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  strong
    font-weight: bold
  em
    font-style: italic
  ul, ol, dl
    margin-left: 20px
    ul, ol, dl
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dl
    list-style: square
  li
    p:first-child
      margin: 0
    table, blockquote, iframe, .highlight
      margin: 1em 0
  img, video
    max-width: 100%
    height: auto
    border: none
    display: block
    margin: 0 auto
  iframe
    border: none
  blockquote
    font-family: font-serif
    padding: 0 30px
    margin: 0 30px
    position: relative
    text-align: center
    font-style: italic
    &:before, &:after
      position: absolute
      font-size: 3em
      color: color-grey
    &:before
      content: "\201c"
      top: 0
      left: 0
    &:after
      content: "\201d"
      bottom: -0.5em
      right: 0
  .video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 30px
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0

.post-footer-wrap
  clearfix()
  text-align: center
  font-family: font-title

.post-footer
  short-separator()

.post-footer-link
  color: color-grey
  transition: color 0.2s
  text-decoration: none
  float: left
  &:hover
    color: color-link
  &:before
    content: "/"
    padding: 0 10px
    color: color-border
  &:first-child
    &:before
      display: none

.post-footer-tags
  color: color-grey

.post-footer-tags-title
  font-weight: bold

.post-footer-tag-link
  color: color-grey
  text-decoration: none
  &:hover
    color: color-link