#logo-wrap
  text-align: center
  padding: 40px 0
  background: #fff
  position: relative
  z-index: 1
  border-bottom: 1px solid color-border

#logo
  color: color-default
  text-decoration: none
  text-transform: uppercase
  font-size: 25px
  font-weight: bold
  font-family: font-title
  letter-spacing: 15px
  margin-right: -15px

#main-nav
  clearfix()
  background: #fff
  border-bottom: 1px solid color-border
  box-shadow: 0 0 8px color-border
  position: relative
  &.fixed
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 10

#main-nav-list
  float: left
  border-left: 1px solid color-border

.main-nav-item
  float: left
  border-right: 1px solid color-border

.main-nav-link
  text-transform: uppercase
  font-weight: bold
  font-family: font-title
  color: color-default
  text-decoration: none
  display: block
  padding: 10px 18px
  line-height: 1em
  &:hover
    background: #eee

.search-form
  float: right
  position: relative

.search-form-input
  border: none
  border-left: 1px solid color-border
  border-right: 1px solid color-border
  font-size: 14px
  font-family: font-title
  font-weight: bold
  height: 1em
  line-height: 1em
  padding: 10px 40px 10px 15px
  color: color-default
  width: 120px
  outline: none
  &:focus
    background: #eee
    ~ .search-form-submit
      color: color-default

.search-form-submit
  border: none
  font-family: font-icon
  position: absolute
  right: 0
  top: 0
  line-height: 34px
  height: 34px
  padding: 0 20px 0 10px
  margin: 0
  color: color-grey
  text-align: center
  background: none
  cursor: pointer