.widget
  margin: 50px 0
  background: #fff
  padding: 20px 25px
  border: 1px solid color-border
  box-shadow: 0 0 8px color-border

.widget-title
  font-size: 1.3em
  font-family: font-title
  font-weight: 300
  line-height: 1.1